* {
    /* margin: 0px; */
    direction: rtl;
    /* line-height: 1; */
    font-weight: bold;
    text-align: center;
    /* background-color: #eaeff0; */
}


.button-all{
    width: 198px;
    height: 60px;
    font-size: 23px;
    color: white;
    background-color: #008CB9;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 15px 0px 0px 0px;
    cursor: pointer;
   
}





/* .content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 25px 10px;
    box-shadow: 1px 2px 20px 3px #e9e3e3;
    border-radius: 7px;   
    width: 400px;
} */


@media (max-width: 600px) {
    .content{
    box-shadow: none;
    padding: 0px 9px 0px 0px;
    /* word-break: break-all; */
    
    }
    .button-all{
    width: 170px;
    height: 60px;
    font-size: 23px;
    margin-left: 2px;
    }
    p {
        text-align: start;
     }
    

}


.test1, .test2, .test3 {
    display: none;
}


.sub {
border-bottom: 2px solid #e9e3e3;
font-size: 22px;

}
 p.p1 {
    margin-bottom: -15px;
    /* margin-top: 13px; */
    color: #FF8000;
 }
 p {
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
   
 }
.button-sub {
    width: 198px;
    height: 60px;
    font-size: 23px;
    color: white;
    background-color: #57C511;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    /* margin-bottom: 28px; */
    /* right: 15%; */

}
 i {
    position: absolute;
    left: -50px;
    color: #008CB9;
    font-size: 30px;
 }



.active:active {
    background-color: #008CB9;
}
